.gdpickr-root {
    position: relative;
    width: 100%;
    height: 100%;
}

.gdpickr-root canvas {
    position: absolute;
}

.gdpickr-preview {
    width: 100%;
    height: 100%;
}

.gdpickr-handler {
    width: 16px;
    height: 16px;
    position: absolute;
    display: inline-block;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.gdpickr-handler:hover,
.gdpickr-handler:active {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.9), 0 0 0 4px rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 1);
}

.gdpickr-horizontal .gdpickr-handler,
.gdpickr-horizontal .gdpickr-color-pickr {
    -webkit-transform: translate(0, -8px);
}

.gdpickr-vertical .gdpickr-handler,
.gdpickr-vertical .gdpickr-color-pickr {
    -webkit-transform: translate(-8px, 0);
}

.gdpickr-handles {
    position: relative;
}

.gdpickr-horizontal .gdpickr-handles {
    height: 16px; /* must be same height as .gdpickr-handler */
    width: 100%;
}

.gdpickr-vertical .gdpickr-handles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 16px;
}

.gdpickr-color-pickr {
    z-index: 10;
    position: relative;
    overflow: visible;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.gdpickr-horizontal .gdpickr-color-pickr {
    margin-left: 0;
    margin-top: 3px;
}

.gdpickr-vertical .gdpickr-color-pickr {
    margin-top: 0;
    margin-left: 16px;
}
